/* Import Vast Shadow from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

/* Apply Vast Shadow to headings */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-family: 'Vast Shadow', cursive;
}

:root {
  --md-primary-fg-color: #006400; /* Dark Green */
  --md-accent-fg-color: #008080; /* Teal */
}
